$main-color1: #f6c197;
$main-color2: #274da0;
$sub-color: #1989f9;

$grey-color1: #5b5b5b;
$grey-color2: #646568;
$grey-color3: #9facba;
$grey-color4: #e2e1e4;
$grey-color5: #edeef0;
$grey-color6: #e7eef6;
